body {
    padding-top: 70px;
    font-family: Josefin Sans;
}
.jumbotron {
    color: #2c3e50;
    background: #FBE7AD;
}
.navbar-inverse {
background: #2c3e50;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
}

/* .image {
    height: 500px;
    width: 30%;
    float: left;
    margin: 1.66%;
    background-size: cover;
    background-position: center center;
}

.image3 {
    background-image: url(https://source.unsplash.com/n4sucsYcIeg);
} */

.navbar-header {
    font-family: Josefin Sans;
    font-weight: 700;
}


.jumbotron h1 {
    font-weight: 700;
}

ul li a {
    font-weight: 700;
}